/* CSS Entry Point */
$title: #D1DBFF;
$border: #737373;

*{
	box-sizing: border-box;
	margin:0;
}

.accordion{
	border:.5px solid $border;
	width: 500px;
}

.section{
	border-bottom:.5px solid $border;
	&:last-child{
		border-bottom: none;
	}
	h3{
		background-color: $title;
	}
	p{
		overflow: hidden;
		padding: 10px;
		transition: all 1s;
		max-height: 200px;
	}
	&.hidden{
		p{
			max-height:0;
			padding:0;
		}
	}
	&.showing{
		
	}
}

