/* CSS Entry Point */
$title: #2FC5D8;
$border: #2AB3C5;

*{
	box-sizing: border-box;
	margin:0;
	font-family: 'Arimo', sans-serif;
}

.app{
	margin: 20px;
}
h3, p{
		padding: 10px;
}

.accordion{
	border:.5px solid $border;
	width: 500px;
}

.section{
	border-bottom:.5px solid $border;
	&:last-child{
		border-bottom: none;
	}
	h3{
		color: white;
		letter-spacing: 1px;
		background-color: $title;
		border-bottom:.5px solid $border;
	}
	p{
		overflow: hidden;
		transition: all 1s;
		max-height: 200px;
	}
	&.hidden{
		p{
			max-height:0;
			padding:0;
		}
	}
	&.showing{

	}
}

